# Игнорирование файла Thumbs.db
Thumbs.db
# Игнорирование файлов с расширением .DS_Store
*.DS_Store
# Игнорирование каталога tmp
tmp/
# Игнорирование каталога c с суфиксом _old
*.*_old
# Игнорирование каталога c с суфиксом _backup
*.*_backup